.git
.github
node_modules
coverage
cypress
tests
monitoring
package.json
package-lock.json
eslint.config.js
cypress.config.js
.eslintrc.json
.gitignore
.dockerignore
.npmrc
Dockerfile
docker-compose.yml
README.md
